<section class="px-10 pb-10">
  @if (loading()) {
    <div class="flex flex-row justify-center">Loading response...</div>
  } @else if (currentPokemon()) {
    <div class="flex flex-col gap-2">
      <div class="flex justify-center text-3xl">#{{ currentPokemon()?.id }}</div>
      <div class="flex flex-row justify-center p-1">
        <div class="border-2 border-amber-200 rounded-xl p-10">
          <img [src]="currentPokemon()?.sprite" width="100" height="100" />
        </div>
      </div>
      <app-pokemon-types class="text-xl flex flex-row justify-center" [types]="currentPokemon()?.types" />
      <div class="flex flex-row justify-center">
        <mat-form-field>
          <mat-label>Version</mat-label>
          <mat-select [(ngModel)]="version">
            @for (version of availableVersions(); track version) {
              <mat-option [value]="version">{{ version }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (pokedexIndex() != -1 && pokedexName()) {
        <div class="flex flex-row justify-center">{{ pokedexName() }} - #{{ pokedexIndex() }}</div>
      }
      <div class="dex-entries flex flex-row justify-between text-xl gap-10">
        <app-dex-entry class="w-[50%]" [dexEntry]="japaneseDexEntry()" />
        <app-dex-entry class="w-[50%]" [dexEntry]="englishDexEntry()" />
      </div>
    </div>
  } @else if (error()) {
    <div class="flex flex-row justify-center">{{ error() }}</div>
  }
</section>
