<div class="bg-amber-50 rounded-2xl p-4">
  <div class="text-3xl pb-6">{{ dexEntry().genus }}</div>
  @if (language() === 'ja') {
    <div class="mb-6">
      <mat-slide-toggle [checked]="showKana()" (change)="setShowKana($event)">
        Show furigana/ kana reading
      </mat-slide-toggle>
    </div>
  }
  @if (language() === 'ja') {
    @if (!furigana_process().error && showKana()) {
      <app-furigana [furiganaText]="dexEntry().furigana_text" />
    } @else {
      <div class="leading-12">{{ dexEntry().description }}</div>
      @if (showKana()) {
        <div class="leading-12">{{ dexEntry().description_kana }}</div>
      }
    }
  } @else {
    <p>{{ dexEntry().description }}</p>
  }
</div>
